@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-flex;
  animation: scroll-marquee 20s linear infinite;
}

